
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
    - "27017:27017"
    command: ["mongod", "--wiredTigerCacheSizeGB=0.25"]
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 5s
      retries: 10

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # RabbitMQ connection
      - "15672:15672" # Web dashboard
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USERNAME}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}

  user_service_v1:
    build:
      context: ./src
      dockerfile: user_service_v1/Dockerfile
    container_name: user_service_v1
    ports:
      - "8001:8000"
    depends_on:
      - mongodb
      - rabbitmq
    environment:
      - MONGO_URI=${MONGO_URI}
      - USER_DB=${USER_DB}
      - RABBITMQ_URI=${RABBITMQ_URI}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_QUEUE_NAME=${RABBITMQ_QUEUE_NAME}

  order_service:
    build:
      context: ./src
      dockerfile: order_service/Dockerfile
    container_name: order_service
    ports:
      - "8002:8000"
    depends_on:
      - mongodb
      - rabbitmq
    environment:
      - MONGO_URI=${MONGO_URI}
      - ORDER_DB=${ORDER_DB}
      - RABBITMQ_URI=${RABBITMQ_URI}
      - RABBITMQ_QUEUE_NAME=${RABBITMQ_QUEUE_NAME}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}

  user_service_v2:
    build:
      context: ./src
      dockerfile: user_service_v2/Dockerfile
    container_name: user_service_v2
    ports:
      - "8003:8000"
    depends_on:
      - mongodb
      - rabbitmq
    environment:
      - MONGO_URI=${MONGO_URI}
      - USER_DB=${USER_DB}
      - RABBITMQ_URI=${RABBITMQ_URI}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_QUEUE_NAME=${RABBITMQ_QUEUE_NAME}

  api_gateway:
    build:
      context: ./src
      dockerfile: api_gateway/Dockerfile
    container_name: api_gateway
    ports:
      - "8000:8080"
    volumes:
      - ./src/api_gateway/config.json:/app/api_gateway/config.json
    depends_on:
      - user_service_v1
      - user_service_v2
      - order_service


volumes:
  mongodb_data:
